.tabs {
    .tab-list {
      list-style: none;
      display: flex;
      background-color: rgba(0, 0, 0, 0.023);
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
      justify-content: center;
      text-align: center;
  
      .tab-item {
        font-weight: bold;
        padding: 10px 0px;
        width: 100%;
        margin: 1px;
        border-radius: 5px;
        color: #0000005d;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  
        &.active {
          margin: 1px;
          color: #0a66c2;;
          box-shadow: 0 4px 6px rgba(4, 96, 235, 0.158);
          background-color: #e2e9ff;
    
          // border0: 1px solid #0a66c2;
          font-weight: bold;
          transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
        }
  
        &:not(.active):hover {
          background-color: #f1f1f1;
          color: #333333;
          transition: background-color 0.3s ease, color 0.3s ease;
        }
      }
    }

 

   
  }
  