@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.container{
    width: 530px;

    & > div:first-child{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        & > div:first-child{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & > h4:first-child{
            text-align: center;
        }
        
    }

   
}