.input-container{
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    
    & > input{
        margin: 10px 0px;
        padding: 5px;
        appearance: none;
        border: none;
        outline: none;
        border-bottom: .2em solid #080003;
        border: 1px solid rgb(0 0 0/.3);
        background-color: #fff;
        border-radius: 20px;

        padding: 9.5px;
        color: #000000;
    }

    
    & > label{
        font-weight: bold;
    }
}
